# Common build options
build --cxxopt="-std=c++17"
build --jobs=4
build --verbose_failures
build --keep_going
build --registry=https://raw.githubusercontent.com/wheelos/bazel-central-registry/fastdds-2.14.x

# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Compilation modes
build:release --compilation_mode=opt --strip=always --copt=-O3
build:debug --compilation_mode=dbg --copt=-g --copt=-O0
